* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blog-container {
  display: flex;
  width: 80%;
  height: 80%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;

  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  background-color: #200092;
  color: rgb(255, 255, 255);
}
.blog-container h3 {
  text-transform: uppercase;
  font-family: "Bangers", system-ui;
  font-weight: 100;
  font-size: 3em;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 5px;
}
.blog-container p {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
}
.container {
  display: flex;
  width: 80%;
  height: 80%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;

  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  background-color: #ffcc00;
  color: rgb(0, 0, 0);
}
.container h3 {
  text-transform: uppercase;
  font-family: "Bangers", system-ui;
  font-weight: 100;
  font-size: 3em;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 5px;
}
.container p {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
}
.text-wrapper {
  max-width: 80%;
  margin: 0 auto;
}
.text-wrapper p {
  text-align: left;
}
.skill {
  justify-content: center;
  padding-top: 10px;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  color: #ffcc00;
}
.skill ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.skill li {
  background-color: #a81000;
  color: white;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-weight: bold;
  text-align: center;
  font-size: 1.25rem;
}
.skill li.hover {
  transform: scale(1.5);
}
.portfolio-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.portfolio-links {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.blog-portfolio-links {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.blog-section {
  flex: 1 1 20%;
  max-width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1em;
  color: #fffb00;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  transition: transform 0.3s ease;
}

.blog-section img {
  cursor: pointer;
  text-align: center;
  max-width: 250px;
  height: auto;
  border-radius: 5px;
  transition: transform 0.3s ease;
}
.blog-section h2 {
  font-family: "Bangers", system-ui;
  text-shadow: -2px -2px 0 rgb(0, 0, 0), 2px -2px 0 rgb(0, 0, 0),
    -2px 2px 0 rgb(0, 0, 0), 2px 2px 0 rgb(0, 0, 0);
}

.blog-section:hover {
  transform: scale(1.05);
}

.portfolio-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #200092;
  color: #ffffff;
  font-size: 1.25em;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease;
}

.portfolio-section img {
  margin-top: 2em;
  max-width: 100%;
  width: 100%;
  max-width: 40em; /* limit width on large screens */
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.portfolio-section:hover {
  transform: scale(1.05);
}

h3,
h4 {
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 1.25rem;
}
.next-btn {
  padding: 1em;
  background-color: none;
  color: white;
  border: none;
  border-radius: 50%;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  position: fixed;
  bottom: 350px;
  padding-right: 0em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
  size: 5em;
}
.next-btn img {
  width: 10em; /* control size of the image */
  height: 10em;
  object-fit: contain;
}

.next-btn:hover {
  cursor: pointer;
}

.next-btn {
  right: 1em;
}

/* Mobile support */
@media screen and (max-width: 768px) {
  .next-btn,
  .back-btn {
    width: 70px;
    height: 70px;
    font-size: 14px;
    bottom: 100px;
  }

  .next-btn {
    right: 20px;
  }

  .back-btn {
    left: 20px;
  }
}
