* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav ul li.active {
    background-color: #a81000;
    color: white;
    border: 3px solid #a81000;
    border-radius: 50px;
    padding: 10px 20px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

nav .dropdown-menu li.activeback
{
    background-color: #a81000;
    color: white;
    border: 1px solid #a81000;
    border-radius: 50px;
    padding: 1px 2px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}
.contact-nav  a.active {
    background-color: #a81000;
    color: white;
    border: 3px solid #a81000;
    border-radius: 50px;
    padding: 10px 20px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
  }
  
  body {
    font-family: 'Segoe UI', sans-serif;
   
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
  }
  .container {
    display: flex;
     height: 80%;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    justify-content: middle;
    overflow: hidden;
  }

  .aboutme-nav {
    flex: 1;
    background-color: #a11717;
    max-width: 500px;
    color: white;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .jordyn-image {
    width: 350px;
    height: 450px;
    object-fit: cover;
    border: 5px solid white;
    border-radius: 12px;
    margin-bottom: 1rem;
  }
   
.education-section,
.interests-section {
  text-align: center;
  margin-bottom: 3rem;
  
}
.education-section h2{
  text-transform: uppercase;
  font-size: 1.75rem;
}
.education-section ul {
  list-style: none;
  padding: 0;
  font-size: 1.25rem;
}

.education-section li {
  margin: 6px 0;
}
.interests-section h2{
  text-transform: uppercase;
  font-size: 1.75rem;
}

.interests-section ul {
  list-style: none;
  padding: 0;
  font-size: 1.25rem;
}

.interests-section li {
  margin: 6px 0;
}
.aboutme-main {
  flex: 2;
  background-color: #ffcc35;
  max-width: 800;
  padding: 2rem;
  border-radius: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  
}
.aboutme-main h2 {
  font-size: 3.25rem;
  text-transform: uppercase;
  margin-top: 1rem;
  text-align: left;
}
h3 a {
  color: black; 
  text-decoration: none; 
}

h3 a:hover {
  color: white; 
}
.aboutme-main h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.aboutme-main h4 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.aboutme-main article {
    
    text-align: left;       
    line-height: 1;        
         

}
.aboutme-main article p {
  font-size: 2rem; 
  margin-bottom: 15px;     
  padding: 20px;   
}

.greeting {
  font-weight: bold;
  
}

.contact-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding: 0;
  margin-top: 5rem;
}

.contact-links li {
  color:white;
}

.contact-links a {
  text-decoration: none;
  transform: scale(2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  color: black;
}
.norm-media{
  transform: scale(2);

}
.contact-links a:hover {
  
  color: white;
}

.social-media {
  height: 28px;
  width: 28px;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
}

.social-media.hover {
  display: none;
}

a:hover .normal {
  display: none;
}

a:hover .hover {
  display: inline;
}

.social-icon {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

.social-icon.hover {
  display: none;
}

a:hover .social-icon.normal {
  display: none;
}

a:hover .social-icon.hover {
  display: inline-block;
}
.space {
  margin-top: 2rem;
  color: transparent; /* hides the dot */
  user-select: none;  /* optional: prevents selection */
}